<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha512-6MXa8B6uaO18Hid6blRMetEIoPqHf7Ux1tnyIQdpt9qI5OACx7C+O3IVTr98vwGnlcg0LOLa02i9Y1HpVhlfiw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
  <style>
    .wrapper {
      padding: 15px;
      max-width: 500px;
      margin: 0 auto;
    }

    .error {
      color: darkred;
    }

    .success {
      color: darkgreen;
    }
  </style>
  <title>Урок 2</title>
</head>

<body>
  <!--
    <i class="fa fa-check-circle"></i>
    <i class="fa fa-question-circle"></i>
  -->
  <div class="wrapper">
    <div class="sample">
      <form>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <div>
          <div class="form-group" v-for="field in info">
            <label>{{ field.name }} <i v-show="field.value" :class="iconClasses"></i></label>
            <input type="text" class="form-control" v-model="field.value" @input="checkedField(field)">
          </div>
        </div>
        <button class="btn btn-primary">
          Send Data
        </button>
      </form>
      <div>
        <table class="table table-bordered">
          <tr v-for="field in info">
            <td>{{ field.name }}</td>
            <td>{{ field.value }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <script>

    new Vue({
      el: '.sample',
      data: {
        info: [
          {
            name: 'Name',
            value: '',
            pattern: /^[a-zA-Z ]{2,30}$/
          },
          {
            name: 'Phone',
            value: '',
            pattern: /^[0-9]{7,14}$/
          },
          {
            name: 'Email',
            value: '',
            pattern: /.+/
          },
          {
            name: 'Some Field 1',
            value: '',
            pattern: /.+/
          },
          {
            name: 'Some Field 2',
            value: '',
            pattern: /.+/
          }
        ],
        iconClasses: ''
      },
      methods: {
        checkedField(field) {
          this.iconClasses = (field.pattern).test(field.value) ?
            ['fa', 'fa-check-circle', 'success'] :
            ['fa', 'fa-question-circle', 'error'];
        }
      }
    });
  </script>
</body>

</html>