<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/app.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.js" integrity="sha512-RjvSEaeDqPCfUVQ9kna2/2OqHz/7F04IOl1/66LmQjB/lOeAzwq7LrbTzDbz5cJzlPNJ5qteNtHR56XaJSTNWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <title>Vue.js Pet Depot</title>
</head>

<body>
  <div id="app">
    <header>
      <h1 v-text="sitename"></h1>
      <button @click="showCheckout">Товаров в корзине: {{ cartItemCount }}</button>
    </header>
    <main>
      <div v-if="showProduct">
        <div class="product" v-for="product in products">
          <hr>
          <figure>
            <img :src="product.image" :alt="sitename">
          </figure>
          <div>
            <h2>{{ product.title }}</h2>
            <p v-html="product.description"></p>
            <p>{{ product.price | formatPrice }}</p>
            <button v-if="canAddToCart(product)" @click="addToCart(product)">Добавить в корзину</button>
            <button v-else disabled>Добавить в корзину</button>
            <span v-if="(product.avialableInventory - cartItemCount) === 0">Товар закончился</span>
            <span v-else-if="(product.avialableInventory - cartItemCount) < 5">Осталось всего {{ product.avialableInventory - cartItemCount }} шт.</span>
            <span v-else>Купи сейчас!</span>
            <div>
              <span class="rating" :class="{'rating--active' : checkRating(n, product)}" v-for="n in 5"></span>
            </div>

          </div>
        </div>
      </div>
      <div v-else>
        <div class="order">
          <h2>Страница оформления заказа</h2>
          <div>
            <label>Имя: <input v-model.trim.lazy="order.firstName" type="text"></label>
            <label>Фамилия: <input v-model.trim="order.lastName" type="text"></label>
            <label>Город: <select v-model="order.city">
                <option disabled selected value="">выберите город...</option>
                <option v-for="city in cities" :value="city">{{ city }}</option>
              </select>
            </label>
            <label>Адрес: <input v-model="order.address" type="text"></label>
            <label>Телефон: <input v-model.number="order.phone" type="text"></label>
            <span>Пол: </span>
            <label>мужской <input v-model="order.sex" type="radio" id="man" :value="order.male"></label>
            <label>женский <input v-model="order.sex" type="radio" id="woman" :value="order.female"></label>
            <label>Отправить как подарок:
              <input v-model="order.gift" type="checkbox" id="gift" value="true"
                :true-value="order.sendGift" :false-value="order.dontSendGift">
            </label>
          </div>
          <button @click="submitForm">Заказать</button>
          <div>
            <ul>
              <li v-for="(value, key) in order">{{key}}: {{value}}</li>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </div>

  <script>
    const webstore = new Vue({
      el: '#app',
      data: {
        sitename: 'Vue.js Pet Depot',
        cities: ['Архангельск', 'Северодвинск', 'Коряжма'],
        order: {
          firstName: '',
          lastName: '',
          city: '',
          address: '',
          phone: '',
          sex: 'мужской',
          male: 'мужской',
          female: 'женский',
          gift: 'Send As A Gift',
          sendGift: 'Send As A Gift',
          dontSendGift: 'Do Not Send As A Gift'
        },
        products: [],
        cart: [],
        showProduct: true
      },
      computed: {
        cartItemCount() {
          return this.cart.length;
        }
      },
      methods: {
        addToCart(aProduct) {
          this.cart.push(aProduct.id);
        },
        showCheckout() {
          this.showProduct = !this.showProduct;
        },
        submitForm() {
          alert('Submitted');
        },
        canAddToCart(aProduct) {
          return aProduct.availableInventory > this.cartCount(aProduct.id);
        },
        cartCount(id) {
          let count = 0;
          for (let i = 0; i < this.cart.length; i++) {
            if (this.cart[i] === id) {
              count++;
            }
          }
          return count;
          console.log(count);
          // const count = this.cart.reduce((counter, item) => {
          //   if (item === id) {
          //     counter++;
          //   }
          //   return counter;
          // }, 0);
          // return count;
        },
        checkRating(n, myProduct) {
          return myProduct.rating - n >= 0;
        }
      },
      filters: {
        formatPrice(price) {
          if (!parseInt(price)) { return ''; }
          if (price > 99999) {
            const priceString = (price / 100).toFixed(2);
            const priceArray = priceString.split('').reverse();
            let index = 3;
            while (priceArray.length > index + 3) {
              priceArray.splice(index + 3, 0, ',');
              index += 4;
            }
            return priceArray.reverse().join('') + ' ₽';
          }
          return (price / 100).toFixed(2) + ' ₽';
        }
      },
      created() {
        axios.get('./assets/products.json')
          .then((response) => {
            this.products = response.data.products;
            console.log(this.products);
          })
      }
    });
  </script>
</body>

</html>