<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/app.css" />
  <title>Vue.js Pet Depot</title>
</head>

<body>
  <div id="app">
    <header>
      <h1 v-text="sitename"></h1>
      <button @click="showCheckout">Товаров в корзине: {{ cartItemCount }}</button>
    </header>
    <main>
      <div v-if="showProduct">
        <figure>
          <img :src="product.image" :alt="sitename">
        </figure>
        <div>
          <h2>{{ product.title }}</h2>
          <p v-html="product.description"></p>
          <p>{{ product.price | formatPrice }}</p>
          <button v-if="canAddToCart" @click="addToCart">Купить</button>
          <button v-else disabled>Купить</button>
        </div>
      </div>
      <div v-else>
        <h2>Страница оформления заказа</h2>
        <div>
          <label>Имя: <input v-model.trim.lazy="order.firstName" type="text"></label>
          <label>Фамилия: <input v-model.trim="order.lastName" type="text"></label>
          <label>Город: <select v-model="order.city">
              <option disabled selected value="">выберите город...</option>
              <option v-for="city in cities" :value="city">{{ city }}</option>
            </select>
          </label>
          <label>Адрес: <input v-model="order.address" type="text"></label>
          <label>Телефон: <input v-model.number="order.phone" type="text"></label>
          <span>Пол: </span>
          <label>мужской <input v-model="order.sex" type="radio" id="man" :value="order.male"></label>
          <label>женский <input v-model="order.sex" type="radio" id="woman" :value="order.female"></label>
          <label>Отправить как подарок:
            <input v-model="order.gift" type="checkbox" id="gift" value="true"
              :true-value="order.sendGift" :false-value="order.dontSendGift">
          </label>
        </div>
        <button @click="submitForm">Заказать</button>
        <div>
          <ul>
            <li v-for="(value, key) in order">{{key}}: {{value}}</li>
          </ul>
        </div>
      </div>
    </main>
  </div>

  <script>
    const webstore = new Vue({
      el: '#app',
      data: {
        sitename: 'Vue.js Pet Depot',
        product: {
          id: 1001,
          title: 'Cat Food, 25lb bag',
          description: 'A 25 pound bag of <em>irresistible</em> organic goodness for your cat.',
          price: 20000,
          image: 'assets/images/product-fullsize.png'
        },
        cities: ['Архангельск', 'Северодвинск', 'Коряжма'],
        order: {
          firstName: '',
          lastName: '',
          city: '',
          address: '',
          phone: '',
          sex: 'мужской',
          male: 'мужской',
          female: 'женский',
          gift: 'Send As A Gift',
          sendGift: 'Send As A Gift',
          dontSendGift: 'Do Not Send As A Gift'
        },
        cart: [],
        avialableInventory: 5,
        showProduct: true
      },
      computed: {
        cartItemCount() {
          return this.cart.length;
        },
        canAddToCart() {
          return this.avialableInventory > this.cartItemCount;
        }
      },
      methods: {
        addToCart() {
          this.cart.push(this.product.id);
        },
        showCheckout() {
          this.showProduct = !this.showProduct;
        },
        submitForm() {
          alert('Submitted');
        }
      },
      filters: {
        formatPrice(price) {
          if (!parseInt(price)) { return ''; }
          if (price > 99999) {
            const priceString = (price / 100).toFixed(2);
            const priceArray = priceString.split('').reverse();
            let index = 3;
            while (priceArray.length > index + 3) {
              priceArray.splice(index + 3, 0, ',');
              index += 4;
            }
            return priceArray.reverse().join('') + ' ₽';
          }
          return (price / 100).toFixed(2) + ' ₽';
        }
      }
    });
  </script>
</body>

</html>